@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@400;700&family=Neucha&display=swap');

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid orange;

}

.projects_buttons {
    text-align: center;
    margin-bottom: 20px;
}

.projects_buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Neucha", cursive !important;
    color: #7096D1;
}


.projects_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.projects_img>div {
    position: relative;
    flex-basis: calc(33% - 15px);
    margin: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.text-overlay {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(86, 120, 169, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

.text-overlay div.project-text a {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: #eddcd2;
    border-radius: 0.2em;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}



.text-overlay div.project-text {
    color: white;
    font-size: 18px;
}

.projects_img>div:hover .text-overlay {
    opacity: 1;
}



.projects_img>div.group-projects-large-screen {
    flex-basis: calc(50% - 20px);
}

.projects_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.projects_buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: 7096D1;
}

.projects_buttons button:hover,
.projects_buttons button:focus {
    background-color: #eddcd2;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .projects_img>div {
        flex-basis: calc(30% - 20px);
    }

    .projects_img>div.small-img {
        width: 200px;
        height: 200px;
    }

    .projects_buttons button.small-button {
        margin-bottom: 10px;
    }
}


@media (max-width: 480px) {
    .projects_img>div {
        flex-basis: 100%;
        max-width: 100%;
    }

    .projects_img {
        flex-direction: column;
        overflow-y: scroll;
        /* scrolling */
    }

    .projects_img>div.small-img {
        width: 200px;
        height: 200px;
    }

    .projects_buttons button.small-button {
        margin-bottom: 10px;
    }

    .projects_buttons button {
        /* make sure button is displayed */
        z-index: 1000;

    }

    .projects_img>div.small-img {
        flex-basis: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}