@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@400;700&family=Neucha&display=swap');


.projects-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 24px;
    align-items: center;
    border:1px solid black;
  }
  
  .project{
    display: flex;
  }

  @media (max-width: 768px) {
    .project {
      flex-direction: column; 
      max-width: 95%; 
    }
  
    .project-image img {
      max-width: 100%; 
      margin-bottom: 1rem; 
    }
  
    .project-details {
      align-items: center; 
    }
  
    .project-buttons a {
      width: auto; 
      margin: 0.3rem; 
    }
  }
  
 
 
  

  @media (max-width: 768px) {
    .project {
      flex-direction: column; 
      max-width: 80%; 
    }
  
    .project-image img {
      max-width: 80%; 
    }
  
    .project-details {
      text-align: center; 
    }
  
    .project-buttons a {
      width: 80%;
      margin: 0.3rem auto; 
    }
  }
  

  @media (max-width: 480px) {
    .project {
      max-width: 95%; 
    }
  }
  