.content {
    display: flex;
    height: 90vh;
    border: 1px solid black;
    /* flex-direction: row;
    align-items: center; */
}

.outlet {
    width: 90%;
    border: 1px solid blue;
}

.sidebar {
    width: 15%;
}